@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #4f4f4f;
}

header {
    background-color: #2d3031;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    position: relative;
    width: auto;
    background: none;
    display: flex;
    padding-top: 0;
    height: auto;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;
    font-size: .8em;
}

nav ul li a:hover {
    background-color: inherit;
}

.container {
    text-align: center;
}

.header-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: .8em 3em;
}

.content-container {
    text-align: center;
    padding: .8em 3em;
}

.home-page-image {
    width: 30%;
}

.header-logo {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: whitesmoke;
}

.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}





