@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #eceff3;
}

header {
    background-color: #2d3031;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    position: relative;
    width: auto;
    background: none;
    display: flex;
    padding-top: 0;
    height: auto;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;
    font-size: .8em;
}

nav ul li a:hover {
    background-color: inherit;
}

.container {
    text-align: center;
}

.header-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: .8em 3em;
}

.content-container {
    text-align: center;
    padding: 3.8em 3em;
    vertical-align: middle;
    margin: 0 auto;
    width: 70%;
}

.profile-container {
    background-color: whitesmoke;
    display: inline-block;
    padding: .8em 1em;
    border-radius: 20px;
    width: 70%;
    margin: .5em 15%;
}

.profile-container a {
    color: #4f4f4f;
}

.profile-container .name {
    text-decoration: none;
    color: #313435;
    background-color: inherit;
    font-weight: bold;
    position: absolute;
    margin: 1px 1.3em;
}

.profile-image {
    border-radius: 50%;
    margin: 0 0;
}

p.user-bio {
    text-decoration: none;
    font-weight: lighter;
    position: absolute;
    display: inline-block;
    margin: 0 12em;
    color: #4f4f4f;
    width: 51%;
}

.profile-corner-container {
    margin: 1.5% 1.5%;
    position: fixed;
    background-color: white;
    width: 15%;
    border-radius: 10px;
}

.detail-profile-pic {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 200px;
    border: 1px solid #ddd;
    object-fit: scale-down;
}

.profile-corner-container ul li p {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.input-container {
    display: flex;
    width: 40%;
    margin: 0 auto 15px;
    background-color: #eceff3;
    border-radius: 14px;
    vertical-align: center;
}

.input-container2 {
    display: flex;
    width: 100%;
    margin: .1em .1em;
    background-color: #fff;
    border-radius: 11px;
}

.home-page-input {
    font-size: 14px;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    background-color: transparent;
}

.search-icon-image {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-top: 5px;
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.subhead {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}

.footer-container {
    background-color: #f2f2f5;
    width: 58%;
    padding: 10%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.search-icon-button {
    border: none;
    background-color: transparent;
    outline: none;
}

.home-page-image {
    padding-bottom: 2.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.header-logo {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: whitesmoke;
}

.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}





