{% extends 'Blogging/base.html' %}
{% block content %}


<div class="profile-corner-container">
    <ul>
        <li><img src="{{ user.userprofile.profile_image.url }}", alt="Avatar" class="detail-profile-pic"></li>
        <li><p>{{ user.first_name }} {{ user.last_name }}</p></li>
        {% if user.userprofile.birth_date %}
            <li><p>{{ user.userprofile.birth_date }}</p></li>
        {% endif %}
        {% if user.userprofile.location %}
            <li><p>{{ user.userprofile.location }}</p></li>
        {% endif %}
    </ul>
</div>


<div class="content-container" style="background-color: white; width:800px; margin-top: 2em">

</div>


<li>
{#    <img src="/static/images/user-xxl.jpg" alt="HTML5 Icon" style="width:50px;height:50px;" >#}
    <img src="{{ user.userprofile.profile_image.url }}" alt="HTML5-icon" style="width:150px;height:150px;" >
</li>

<li>
    Username: {{ user.username }}
</li>

<li>
    First Name: {{ user.first_name }}
</li>

<li>
    Last Name: {{ user.last_name }}
</li>
<li>
    Bio: {{ user.userprofile.bio}}
</li>
<li>
    Birth date: {{ user.userprofile.birth_date}}
</li>

<ul>
  {% for blog in user.blog_set.all %}
    <li>
        Title: "{{ blog.blog_name }}", Published: {{ blog.pub_date }}
    </li>
  {% endfor %}
</ul>

<a class="btn waves-effect waves-light red lighten-2" href="{% url 'Blogging:BlogHome' %}">Home Page</a>
<a class="btn waves-effect waves-light red lighten-2" href="{% url 'Blogging:profile_edit' user.id %}">Edit Profile</a>


<form action="{% url 'Blogging:profile_edit' user.id %}">

</form>

{% endblock %}

