
{% extends 'Blogging/base.html' %}
{% block content %}

<div class="container">
    <h1>User List</h1>
        {% if object_list %}
            <ul>
                {% for user in object_list %}
                    <li>
                        <div class="card-panel teal lighten-2">
                            <img src="{{ user.userprofile.profile_image.url }}" alt="HTML5 Icon" style="width:50px;height:50px;" >
                            <a href="{% url 'Blogging:profile_detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No users were found.</p>
        {% endif %}

    <form action="{% url 'Blogging:BlogHome' %}">
        <button class="btn waves-effect waves-light red lighten-2" type="submit">Home Page</button>
    </form>
</div>

{% endblock %}

